<!DOCTYPE html>


<html>
<head>
    <title>help</title>
    <link rel="stylesheet" href="./CSS/styles.css">
</head>

<body>
     {{>header}}
    <h1>You Want to know about me click below link</h1>
    <a href="https://www.linkedin.com/in/eslam-mohamed1/">LinkedIn</a>
    <p>this page created by {{name}}</p>
</body>

{{>footr}}



</html>