<!DOCTYPE html>


<html>
<head>
    <title>Error 404</title>
    <link rel="stylesheet" href="./CSS/styles.css">
    
</head>

<body>
    <img src="/images/404.jpg" alt="">
</body>

{{>footr}}

</html>