<!DOCTYPE html>


<html>
<head>
    <title>Hello World of HBS</title>
    <link rel="stylesheet" href="./CSS/styles.css">
    
  
</head>

<body>
    <div>

   
     {{>header}}
    <h1>This HBS Template</h1>

    <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="Message_1"> </p>
        <p  id="Message_2"> </p>

    <h1>{{title}}</h1>
    <p>created by {{name}}</p>
    

     </div>
     <div class="image">
         <img src="/images/EOKSOdzX4AA8kYD.jpg" alt="">
     </div>

      <script src="/js/app.js"> </script>
</body>

{{>footr}}

</html>